.navbar-color{
  background-color: #000000 !important;
}

body {
  background-image: url('https://raw.githubusercontent.com/manoa-musicbubs/manoa-musicbuds-source/master/app/public/images/background_LI.jpg') !important;
  background-size: auto;
}